#action-center-text-img-btn {
	background: #ffffff;
}

#action-center-img-text-btn {
	background: radial-gradient(circle, #ffffff 30%, #eeeeee 70%);
}

#benefit-fluid-4col {
	background: linear-gradient(135deg, #553483, #2f8dab);
}
#desc-text-btn-img-anim-2 {
	background: #f8f8f8;
}
#action-center-text-btn {
	background: #e9fbff;
}

#desc-img-text {
    background: #f8f9fb;
}#desc-img-text--0 {
    background: #f8f9fb;
}#desc-img-text--1 {
    background: #f8f9fb;
}#desc-img-text--2 {
    background: #f8f9fb;
}#desc-accordion {
	background: #f8f9fb;
}#action-center-text-btn--0 {
	background: #e9fbff;
}

#action-btn-text {
	background: #accdd4;
}