body{
	text-align: center;
	background: #255, 255, 255, .4;
  font-family: sans-serif;
  font-weight: 100;
}

h1{
  color: #396;
  font-weight: 100;
  font-size: 30px;
  margin: 30px 0px 10px;
}

#clockdiv{
	font-family: sans-serif;
	color: #fff;
	display: inline-block;
	font-weight: 100;
	text-align: center;
font-size: 30px;
}

#clockdiv > div{
	padding: 05px;
	border-radius: 3px;
	background: #cf3134;
	display: inline-block;
}

#clockdiv div > span{
	padding: 5px;
	border-radius: 3px;
	background: #cf3134;
	display: inline-block;
}

.smalltext{
	padding-top: 5px;
	font-size: 13px;
}